<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Scrobbles</title>
    <link rel="stylesheet" href="static/main.css">
</head>
<body>
<h2>Scrobbles</h2>

<table class="scrobbles">
    <thead>
        <tr>
            <th class="col-artist">Artist</th>
            <th class="col-album">Album</th>
            <th class="col-track">Track</th>
            <th class="col-date">Date</th>
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
        <tr>
        <td>{{ row["artist"] }}</td>
        <td>{{ row["album"] }}</td>
        <td>{{ row["track"] }}</td>
        <td>{{ row["date"] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pagination">
    
    {% if page > 1 %}
        <a href="{{ url_for('index', page=1) }}">« First</a>
        <a href="{{ url_for('index', page=page-1) }}">‹ {{page - 1}}</a>
    {% endif %}

    <span class="current">Page {{ page }} of {{ total_pages }}</span>

    {% if page < total_pages %}
        <a href="{{ url_for('index', page=page+1) }}">{{page + 1}} ›</a>
        <a href="{{ url_for('index', page=total_pages) }}">Last »</a>
    {% endif %}
</div>

</body>
</html>
