{# templates/artist_detail.html #}
{% extends "base_library.html" %}

{% block summary_header %}
<h2>{{ artist_name }}</h2>

<div class="d-flex gap-4">
  <div>
    <strong>{{ stats.scrobbles }}</strong><br>Scrobbles
  </div>
  <div>
    <strong>{{ stats.albums }}</strong><br>Albums
  </div>
  <div>
    <strong>{{ stats.tracks }}</strong><br>Tracks
  </div>
  <div>
    <strong>#{{ artist_position }}</strong><br>Position
  </div>
</div>
{% endblock %}

{% block main_content %}
<h3>Albums</h3>
<table class="table table-sm">
  <thead>
    <tr>
      <th>#</th>
      <th>Album</th>
      <th>Scrobbles</th>
    </tr>
  </thead>
  <tbody>
    {% for row in albums_rows %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>
          {% set album_artist = row['album_artist'] if 'album_artist' in row.keys() and row['album_artist'] else artist_name %}
          <a href="{{ url_for('albums.artist_album_detail', album_artist_name=album_artist, album_name=row['album']) }}">
          {{ row["album"] }}</a>
        </td>
        <td>{{ row["plays"] }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>


<h3>Top tracks</h3>
{% with rows=tracks_rows %}
  {% include "_tracks_table.html" %}
{% endwith %}
{% endblock %}

