{# templates/library_scrobbles.html #}
{% extends "base_library.html" %}

{% block summary_header %}
<div class="d-flex gap-4">
  <div><strong>{{ total_rows }}</strong>&nbsp;Scrobbles</div>
  <div><strong>{{ per_day }}</strong>&nbsp;Scrobbles per day</div>
</div>
{% endblock %}

{% block main_content %}
<table class="table table-sm">
  <thead>
    <tr>
      <th>Track</th>
      <th>Album</th>
      <th>Artist</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
    <tr>
      <td>{{ row.track }}</td>
      <td>{{ row.album }}</td>
      <td>{{ row.artist }}</td>
      <td>{{ row.date }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="pagination-wrapper">
<div class="pagination">
    {% if page > 1 %}
        <a href="{{ url_for('scrobbles.library_scrobbles', page=1) }}">« First</a>
        <a href="{{ url_for('scrobbles.library_scrobbles', page=page-1) }}">‹ {{page - 1}}</a>
    {% endif %}

    Page {{ page }} of {{ total_pages }}

    {% if page < total_pages %}
        <a href="{{ url_for('scrobbles.library_scrobbles', page=page+1) }}">{{page + 1}} ›</a>
        <a href="{{ url_for('scrobbles.library_scrobbles', page=total_pages) }}">Last »</a>
    {% endif %}
</div>
</div>
{% endblock %}