{# templates/artist_detail.html #}
{% extends "base_library.html" %}


{% block summary_header %}
<h1>Track details</h1>
<p>artist: <a href="{{ url_for('artists.artist_detail', artist_name=artist_name) }}">{{ artist_name }}</a></p>
<p>track: {{ track_name }}</p>
<p>plays: {{ stats["plays"] }}</p>
{% endblock %}

{% block main_content %}

<h2>Recent scrobbles</h2>
<table class="table">
  <thead>
    <tr>
      <th>Track name</th>
      <th>Album</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    {% for row in recent %}
      <tr>
        <td>{{ track_name }}</td>
        <td><a href="{{ url_for('albums.artist_album_detail', artist_name=row['artist'], album_name=row['album']) }}">
          {{ row["album"] }}</a>
        </td>
        <td>{{ row["date"] }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}